.cardContainer{
    min-width: 18vw;
    background-color: white;
    border: 1px solid rgb(191, 191, 191);
    width: 18vw;
    height: 70vh;
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;  
    /* padding: 1.2rem 1rem; */ 
    box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
  }
  
  .imgContainer{
    width: 18vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(205, 205, 205);
  
  }
  
  .imageCard{
    width: 10vw;
    height: 18vh;
    
  }
  .cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .cardContent{
    font-size: 15px;
  }
  
  .nameContainer{
    padding: 1rem 0 1rem 0;
  }
  
  .name{
    text-align: center;
    margin: 0 10px 0 10px;
  }
  
  .buttonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .buttonBox{
    margin-top: 9px;
  }

  .button{
    background-color: black;
    color: white;
    padding: 4px 7px 4px 7px;
  }

 .button:hover {
    background-color: white;
    color: black;
  }
  
  
  @media screen and (max-width: 740px){
    .cardContainer{
        display: grid;
        min-width: 75vw;
      
    }
    
    .imgContainer{
        width: 74vw;
        display: grid;
        justify-content: center;
        align-items: center;
    }
  
    .imageCard{
        min-width: 70vw;
    }
  }