.danger {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid red;
    border-radius: 4px;
    color: red;
}



.principalContainer{
    width: 100vw;
    height: 100vh;
}

.caja1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

