@font-face {
    font-family: 'Slasher';
    src: url(../../../Utils/slasherfilm.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap%27");
}

.bodyContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.navContainer {
    height: 100px;
    width: 100vw;
    background-color: #404040;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.userMenu{
    margin-left: 800px;

}

.succesCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin: 30px;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.footer {
    width: 100vw;
    margin-top: 100px;
}

.title {
    filter: grayscale(200%);
    margin-top: 20px ;
}

.slogan {
    font-family: 'Slasher';
    color: #a0a0a0;
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.text {
  font-family: 'Slasher';
  letter-spacing: 4px;
  font-weight: bold;
}

#failure {
    color: red;
}

@media screen and (max-width: 740px){
    .succesCard{
        width: 87%;
    }

    .slogan{
        font-size: 10px;
    }

    .text{
        font-size: 15px;
    }

    .navContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .userMenu{
        display: none;
    }
}