.NavContainer{
    background-color: #404040;
    width: 100vw;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.notificationContainer{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
     
}
.imgContainer{
    margin-left: 10px;
}