@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.container{
    background-color: white;

}

.title{
    font-size: medium;
    font-weight: bold;
}

.brand{
    font-weight: normal;
}

.Price{
    font-weight: normal;
}