.homeContainer {
    margin: 0;
    display: grid;
    grid-template: 
    "navBar "
    "filters"
    "slider"
    "body"
    "footer" 
}

.filtersContainer {
    background-color: #404040;
    grid-area: filters;
    margin-bottom: 12px;
}

.cardsContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-area: cards;
    grid-gap: 0.5rem;
    width: 100%;
    padding: 1rem;
}

.leftSide {
    grid-area: leftSide;
}

.bodyContainer {
    grid-area: body;
    margin: 0;
    display: grid;
    grid-template:
    "leftSide rightSide" / 200px
}

.rightSide {
    grid-area: rightSide;
}

.leftSide {
    grid-area: leftSide;
    margin: 10px;
}

.paginationContainer {
    grid-area: pagination;
}

.sliderContainer {
    grid-area: slider;
}

.shopContainer {
    grid-area: shop;
}

.filtersContainer {
    grid-area: filters;
}

.footer {
  grid-area: footer;
} 


.navContainer {
    grid-area: navBar;
}

.loadingContainer {
    position: relative;
    top: -20vh;
    left: 25vh;
    z-index: -1;
  }

  .whatsAppButton {
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 1;
  }

@media screen and (max-width: 740px) {
    .sliderContainer {
        display: none;
    }

    .leftSide {
        display: none;
    }
    
    .bodyContainer {
        display: grid;
        grid-template-columns: 0 auto;
        width: 100vw;
    }

    .whatsAppButton {
        display: none;
    }

    .cardsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


}