.homeContainer {
    margin: 0;
    display: grid;
    grid-template: 
    "navBar"
    "rightSide"
    "footer" 
}

.cardsContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-auto-rows: auto;
    grid-area: cards;
    grid-gap: 0.5rem;
    width: 100%;
    padding: 1rem;
}

.leftSide {
    grid-area: leftSide;
}

.rightSide {
    grid-area: rightSide;
}

.paginationContainer {
    grid-area: pagination;
}

.shopContainer {
    grid-area: shop;
}

.filtersContainer {
    grid-area: filters;
}

.footer {
  grid-area: footer;
}


.navContainer {
    grid-area: navBar;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }


