.errorContainer {
  justify-self: center;
  margin-top: 1.3rem;
  padding: 0.8rem 2rem;
  align-self: center;
  border: 2px solid var(--error-color);
  border-radius: 4px;
}

.errorText {
  color: var(--error-color);
}
