.shoppingContainer,
.emptyCart {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.emptyCartText {
  margin-top: 0.5rem;
  overflow: auto;
}
.cardsContainer {
  margin-bottom: 3.5rem;
}
.textContainer {
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.btnPay {
  margin-bottom: 1rem;
  bottom: 0;
}

.btnClear,
.btnHome,
.btnPay {
  align-self: left;
  padding: 0.5rem 2.1rem;
  border-radius: 20px;
  border: none;
  transition: all 0.3s ease;
  border: 1px solid rgba(0 0 0 / 15%);
}
.btnClear {
  background-color: #fecaca;
}

.btnHome,
.btnPay {
  margin-top: 1.5rem;
  background-color: #c7fef2;
}
.btnHome:hover,
.btnPay:hover {
  color: #737373;
  background-color: #a7f3d0;
  transition: all 0.5s ease-in-out;
}
.icon {
  margin: 1rem;
}
