@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Outfit', sans-serif;
}

#footer {
    background-color: rgb(45, 47, 47);
    margin-top: auto;
    position: relative;
    width: 100%;
    max-width: 100%;
  }

li{
    list-style-type: none;
}

