@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


.accordionsResponsive {
  display: none;
}

.secondaryContainer{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
}

.divLeft{
  height: 100%;
  width: 70%;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin-bottom: 50px;
}

.reviewTitle {
  background: darken(light, 10%);
  background-color: black;
  width: 80%;
  padding: 10px;
  display: inline-block;
  margin: 30px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

.decriptionSize {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 100px;
  width: 150%;
}

.description {
  margin: 25px;
  width: 350px;
}
.size {
  margin: 25px;
  width: 350px;
}

.image{
display: flex;
justify-content: flex-end;
}

.image img{
  width: 25rem;
}

.linkHome {
  margin: 20px;
}

.detail{
border-left: 1px solid grey;
padding-left: 3rem;
display: inline-block;
position: -webkit-sticky;
position: sticky;
top: 0;
margin-right: 20px;
}

.imgColor{
  width: 3rem;
}


.sizes{
    background: darken(light, 10%);
    width: 10rem;
    background-color:rgb(217, 215, 215);
    padding: 0.3rem;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}
.sizes:hover {
  background: black;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}
.cantidad {
  margin: 10px;
}

.shippinhFree {
  text-align: center;
  margin-right: 60px;
}

.cantidad1{
  background: darken(light, 10%);
  width: 3rem;
  background-color:rgb(217, 215, 215);
  padding: 0.3rem;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  margin: auto;
}
.cantidad1:hover {
  background: black;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}
.cantidad2{
    background: darken(light, 10%);
    background-color: rgb(184, 182, 182);
    width: 5rem;
    padding: 0.3rem;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    margin: auto;
}

.price{
  font-weight: 400;
}

.detailsTitle{
  display: flex;
  justify-content: center;
  font-weight: lighter;
  margin-bottom: 2rem;
  border-top: 0.5px solid gray;
  margin-left: 10rem;
  margin-right: 10rem;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.review{
  margin-right: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 20rem;
}
.buttonReview{
  background: darken(light, 10%);
  background-color: black;
  width: 18rem;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  margin-top: 3rem;
}
.buttonReview:hover{
  background: white;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}

.range{
  width: 20rem;
}

.rangeContainer{
display: flex;
justify-content: space-around;
margin-bottom: 4rem;
margin-left: 5rem;
margin-right: 5rem;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.suggestions{
padding: 5rem;
margin-bottom: 5rem;
}
.divSuggestions{
 display: flex;
 flex-direction: row;
 justify-content:space-between;
 margin-left: 5rem;
margin-right: 5rem;
}

.oportunity{
border: 1px solid gray;
padding: 15px 10px;
text-align: center;
width: 200px;
}

.add {
    background: darken(light, 10%);
    background-color: black;
    width: 13rem;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: 3px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
  }
  .add:hover {
    background: #404040;
    color: aliceblue;
    transition: all 0.2s ease-in-out;
  }

  .dealsDiv{
    background-color:yellow;
    color: black;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .deals{
    display: inline-block;
    padding-right: rem;
  }

  .join{
    display: inline-block;

    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    cursor: pointer;
  }
  .join:hover {
    background: black;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
  }


  @media screen and (max-width: 1040px) {
    .secondaryContainer{
        display:flex;
        flex-direction: column;
        /* overflow: hidden; */
        grid-template-columns: 0 auto;
        width: 100vw;
        padding: 0;
    }

    .accordionsResponsive{
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
    }

    .decriptionSize {
      display: none;
    }

    .description {
      margin: 15px;
      width: 150px;
    }
    .size {
      margin: 15px;
      width: 150px;
    }

    .detail{
      display: wrap;
      flex-wrap: wrap;
    }

    .divRight{
        height: 100vh;
        width: 50vw;
        display:flex;
        flex-direction: column;
    }

    .image img{
      width: 20rem;
    }
    
    .primaryContainer{
      overflow: hidden;
    }
}