@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

.Contenedor {
  margin: auto;
  justify-content: center;
}

.Card {
  justify-content: center;
  margin: auto;
  background-color: rgb(246, 246, 246);
  padding: 0.4rem;
  transition: transform 0.7s;
  box-shadow: 0px 0px 10px 0px silver;
}

.Card:hover {
  border: 2px solid black;
  transform: scale(1.1);
}

.CardBody {
  display: flex;
  flex-direction: column;
}

.Image {
  border-radius: 6px;
  height: 200px;
}

.Title {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  color: $dark;
  margin-top: -5px;
  font-size: 1.2em;
  color: $dark;
  margin-top: -5px;
}

.Description {
  font-size: 0.6em;
  color: $rose;
  letter-spacing: 1px;
}
.Price {
  color: $tan;
  margin-top: -5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

.like {
  background: darken($light, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  cursor: pointer;
}
.like:hover {
  background: black;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}
