@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


.mainContainer{
    width: 14rem;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0px rgb(241, 241, 241);
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 3px;
}
.mainContainer:hover{
    border: 0.3px solid rgb(117, 116, 116);
}


.button{
    color: gray;
    font-weight: lighter;
    border: none;
    background-color: brown;
    padding: 0rem 0.2rem 0.2rem 0.2rem;
    display: flex;
    justify-content: end;
    margin-left: 80%;
    font-size: larger;
}
.button:hover{
    color:brown;
    border: none;
}

.remove{
    display: inline-block;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 0;
    margin-left: 80%;
    width: fit-content;
    padding: 0rem 0.3rem 0rem 0.3rem;
}

.add {
    background: darken(light, 10%);
    background-color: gray;
    width: 14rem;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
}
.add:hover {
    background: white;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
}

.image{
    width: 8rem;
    height: 8rem;
}

.name{
    font-size: small;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
}

.price{
    margin: none;
    font-weight: 200;
}

@media screen and (max-width: 740px) {
    .mainContainer{
        display: flex;
        min-width: 75vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .image{
        width: 60vw;
        height: 17rem;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}