.prevButton {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    background-color: transparent;

    padding: 16px;
    font-size: 18px;
    width: 64px;
    aspect-ratio: 1;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
}
.nextButton {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);  
    background-color: transparent;

    padding: 16px;
    font-size: 18px;
    width: 64px;
    aspect-ratio: 2;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #0f0c29;
  }
  
  .slideshow {
    margin: auto;
    width: 60vw;
    aspect-ratio: calc(32 / 9);
    position: relative;
    overflow: hidden;
    
  }
  
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }