.homeContainer {
    margin: 0;
    display: grid;
    grid-gap: 20px;
    grid-template: 
    "navBar navBar"
    "leftSide RigthSide" / 200px

}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-auto-rows: auto;
    grid-area: cards;
    grid-gap: 0.5rem;
    width: 100%;
    padding: 1rem;
}

.leftSide {
    grid-area: leftSide;
}

.rigthSide {
    grid-area: rigthSide;
}

.paginationContainer {
    grid-area: pagination;
}

.shopContainer {
    grid-area: shop;
}

.filtersContainer {
    grid-area: filters;
}

.navContainer {
    grid-area: navBar;
}