.home-container {
    display: grid;
    grid-gap: 20px;
    grid-template: 
    "navbar" 100px
    "cards" auto
    "footer" 150px;
}

.footer-container {
    grid-area: footer;
}

.nav-container {
    grid-area: navbar;
}

.cards-container {
    grid-area: cards;
}