.home-container {
    display: grid;
    grid-gap: 20px;
    grid-template: 
    "navbar" 100px
    "filters"
    "cards" auto
    "footer" 150px;
}

.footer-container {
    grid-area: footer;
}

.nav-container {
    grid-area: navbar;
}

.cards-container {
    grid-area: cards;
}

.filters-container {
    grid-area: filters;
    display: flex;
    flex-direction: row;
    
}

