.imagen {
    height: 300px;
    width: 350px;
}

.formulario {
    background-color: rgb(255, 255, 255, .15);
    backdrop-filter: blur(20px);
    padding: 5px;
    border-radius: 6px;
    width: 300px;
    height: 290px;
}

.carousel {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    width: 700px;
    height: 290px;
}

.descripcionImagen {
    background-color: rgb(255, 255, 255, .15);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    width: 200px;
    height: 230px;
    margin-left: 320px;
    margin-bottom: 30px;
}

/* body {
    background: url(https://fondosmil.com/fondo/5787.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
} */

.form-position{
    grid-template-columns: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.form-container{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 2rem;
    width: 500px;
}