@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* $font: 'Lato', sans-serif; */


.Contenedor {
  margin: auto;
  justify-content: center;
}

.Card {
  justify-content:center ;
  margin: auto;
  background-color: rgb(246, 246, 246);
  padding: 0.4rem;
  transition: transform .7s; 
  box-shadow: 0px 0px 10px 0px silver;
}


.Card:hover {
  border: 2px solid black;
  transform: scale(1.1);
}

.CardBody {
  display: flex;
  flex-direction: column;
}

.Image {
  border-radius: 6px;
  height: 200px;

}

.Title {
  /* background-color: aliceblue;
  border: solid rgb(167, 138, 138) 5px;
  border-radius: 4px;
  padding-left: 5px; */
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  color: $dark;
  margin-top: -5px;
  font-size: 1.2em;
  color: $dark;
  margin-top: -5px;
}

/* background-color: aliceblue;
border: solid gray 5px;
border-radius: 4px;
padding-left: 5px; */

.Description {
/* text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: dark;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify; */
  font-size: 0.6em;
  color: $rose;
  letter-spacing: 1px;
}
.Price {
  /* background-color: aliceblue;
  border: solid gray 5px;
  border-radius: 4px;
  height: 2rem;
  width:fit-content;
  font-weight:200;
  padding-left: 3px; */
  color: $tan;
  margin-top: -5px;
}

.add {
  background: darken($light, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  cursor: pointer;
}
.add:hover {
  background: black;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
  
}

.like {
  background: darken($light, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;
  cursor: pointer;
}
.like:hover {
  background: black;
  color: aliceblue;
  transition: all 0.5s ease-in-out;

}
