@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


.primaryContainer{
overflow: hidden;
}

.secondaryContainer{
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 6rem;
}

.image{
width: 60%;
display: inline-block;
}

.detail{
border-left: 1px solid grey;
padding-left: 3rem;
width: 40%;
display: inline-block;
}

.oportunity{
border: 1px solid gray;
padding: 1rem;
width: fit-content;
height: fit-content;
}

.buttons{
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.add {
    background: darken(light, 10%);
    background-color: black;
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
  }
  .add:hover {
    background: white;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
    
  }
  
  .like {
    padding: 10px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin: -1px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    cursor: pointer;
  }
  .like:hover {
    background: black;
    color: aliceblue;
    transition: all 0.5s ease-in-out;
  
  }