.shoppingContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.items {
  margin-right: 20px;
}
.btnClear {
  align-self: left;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2.1rem;
  border-radius: 20px;
  border: none;
  transition: all 0.3s ease;
  border: 1px solid rgba(0 0 0 / 15%);
  background-color: #fb7185;
}
