.filterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select {
  background-color: #404040;
  width: 160px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  color: #a0a0a0;
  outline: none;
  border: none;
}

.select:hover {
  color: white;
}

.select option {
  background-color: #404040;
  border-radius: 10px;
  color: white;
}