.wpButton{
    background-color: rgb(12, 216, 12);
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}

.button{
    padding: 8px;
}
