.imagen {
    height: 300px;
    width: 350px;
}

.formulario {
    background-color: rgb(255, 255, 255, .15);
    backdrop-filter: blur(20px);
    padding: 5px;
    border-radius: 6px;
    width: 300px;
    height: 290px;
}

.carousel {
    background-color: rgb(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    /* padding: 5px; */
    width: 700px;
    height: 290px;
}

.descripcionImagen {
    background-color: rgb(255, 255, 255, .15);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    width: 200px;
    height: 230px;
    margin-left: 320px;
    margin-bottom: 30px;
}

body {
    background: url(https://fondosmil.com/fondo/5787.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
}