@font-face {
    font-family: 'Slasher';
    src: url("../../Utils/slasherfilm.ttf");
}
.landingContainer{
    background-color: rgb(45, 47, 47);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    
}

.logoContainer{
    color: white;
    padding: 20px;
}

.landingHeader{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px
}


.buttomHome{
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 20px;     
}

.buttomHome:hover{
    color: rgb(154, 150, 150);
}

.bodyContainer{
    display: grid;
    justify-content: center;
    color: white;
}



.becomingFit{
    display: flex;   
    align-items: flex-end;
    flex-direction: column;
    
}

.becomingFitTitle{
    font-size: 100px;
}

.becomingFitSlogan{
    color: rgb(154, 150, 150);
    width: 100%;
    text-align: center;
    font-family: 'Slasher';
    font-size: 45px;
    letter-spacing: 3px;
}


.loginButtoms{
    display: grid;
    justify-content: center;
    align-items: center;
    
}

.signIn{
    font-size: 4rem;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: 'Slasher';
}

.signIn:hover{
    color: rgb(154, 150, 150);
    cursor: pointer;
}

.signUp{
    font-size: 4rem;
    color: white;
    font-family: 'Slasher';
}

.signUp:hover{
    color: rgb(154, 150, 150);
}

.separatorContainer{
    padding-left: 10px;
    padding-right: 10px;
}

.separator{
    font-size: 4.5rem;
    font-weight: lighter;
}

@media screen and (max-width:640px){
    .bodyContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .title {
        width: 100%;
        height: 100%;
        margin-bottom: 3rem;
        padding: 20px
    }

    .becomingFitSlogan {
        padding: 30px;
    }

    .loginButtoms {
        margin-bottom: 5em;
    }


}

