@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.mainContainer{
    width: 30rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px 0px rgb(202, 202, 202);
    padding:  0rem;
    border-radius: 3px;
    margin-bottom: 2rem;
}
.mainContainer:hover{
    border: 1px solid rgb(117, 116, 116);
}

.image{
    width: 12rem;
    height: 11.9rem
}

.itemContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
}

.itemContainer img{
    width: 3rem;
}

.orderInfo{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 740px) {
    .mainContainer{
        display: flex;
        min-width: 75vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .image{
        width: 60vw;
        height: 17rem;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}