@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.mainContainer{
    width: 36rem;
    height: 12.1rem;
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px 0px rgb(202, 202, 202);
    padding:  0rem;
    border-radius: 3px;
    margin-bottom: 2rem;
}
.mainContainer:hover{
    border: 1px solid rgb(117, 116, 116);
}

.image{
    width: 12rem;
    height: 11.9rem
}