.navContainer {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: #404040;

  }
  .title {
    display: flex;
  }
  .mainContainer {
    position: relative;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 500;
  }